body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
}


h1 {
    color: #333;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}


label {
    margin-right: 10px;
}

select,
input[type="text"],
input[type="checkbox"] {
    margin-bottom: 10px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.text-warning {
    color: #ff9900;
    font-weight: bold;
}
